.table-responsive
  table#dataTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th Request ID
        th Staff
        th Patron
        th Patron Barcode
        th Title
        th Author
        th Format
        th Date Ordered
        th Date Received
        th Owning Institution
        th Due Date
        th Their Barcode
        th Our Barcode
        th Return Date
        th Status
        th Binder Pocket #
        th Notes
    tfoot
      tr
        th Request ID
        th Staff
        th Patron
        th Patron Barcode
        th Title
        th Author
        th Format
        th Date Ordered
        th Date Received
        th Owning Institution
        th Due Date
        th Their Barcode
        th Our Barcode
        th Return Date
        th Status
        th Binder Pocket #
        th Notes
    tbody
      tr
        td 1
        td Bill
        td Mitchell Henson
        td 47285940392817
        td How to Lose a Guy in 10 Days
        td John Smith
        td Audio Book
        td 05/18/1988
        td 
        td Austin Public Library
        td 
        td 482013840293847
        td 593718394234231
        td 
        td Pending
        td 52
        td Mitch is a jerk, don't give him this book.
      tr
        td 2
        td Debbie
        td Kennedy Brocato
        td 47285940392817
        td Sesame Street Alphabet
        td John Smith
        td Book
        td 05/18/1988
        td 3/1/2020
        td Austin Public Library
        td 3/14/2020
        td 482013840293847
        td 593718394234231
        td 3/12/2020
        td Open
        td 52
        td 
      tr
        td 1
        td Bill
        td Mitchell Henson
        td 47285940392817
        td How to Lose a Guy in 10 Days
        td John Smith
        td Audio Book
        td 05/18/1988
        td 
        td Austin Public Library
        td 
        td 482013840293847
        td 593718394234231
        td 
        td Pending
        td 52
        td Mitch is a jerk, don't give him this book.
      tr
        td 2
        td Debbie
        td Kennedy Brocato
        td 47285940392817
        td Sesame Street Alphabet
        td John Smith
        td Book
        td 05/18/1988
        td 3/1/2020
        td Austin Public Library
        td 3/14/2020
        td 482013840293847
        td 593718394234231
        td 3/12/2020
        td Open
        td 52
        td 
      tr
        td 1
        td Bill
        td Mitchell Henson
        td 47285940392817
        td How to Lose a Guy in 10 Days
        td John Smith
        td Audio Book
        td 05/18/1988
        td 
        td Austin Public Library
        td 
        td 482013840293847
        td 593718394234231
        td 
        td Pending
        td 52
        td Mitch is a jerk, don't give him this book.
      tr
        td 2
        td Debbie
        td Kennedy Brocato
        td 47285940392817
        td Sesame Street Alphabet
        td John Smith
        td Book
        td 05/18/1988
        td 3/1/2020
        td Austin Public Library
        td 3/14/2020
        td 482013840293847
        td 593718394234231
        td 3/12/2020
        td Open
        td 52
        td 
      tr
        td 1
        td Bill
        td Mitchell Henson
        td 47285940392817
        td How to Lose a Guy in 10 Days
        td John Smith
        td Audio Book
        td 05/18/1988
        td 
        td Austin Public Library
        td 
        td 482013840293847
        td 593718394234231
        td 
        td Pending
        td 52
        td Mitch is a jerk, don't give him this book.
      tr
        td 2
        td Debbie
        td Kennedy Brocato
        td 47285940392817
        td Sesame Street Alphabet
        td John Smith
        td Book
        td 05/18/1988
        td 3/1/2020
        td Austin Public Library
        td 3/14/2020
        td 482013840293847
        td 593718394234231
        td 3/12/2020
        td Open
        td 52
        td 
      tr
        td 1
        td Bill
        td Mitchell Henson
        td 47285940392817
        td How to Lose a Guy in 10 Days
        td John Smith
        td Audio Book
        td 05/18/1988
        td 
        td Austin Public Library
        td 
        td 482013840293847
        td 593718394234231
        td 
        td Pending
        td 52
        td Mitch is a jerk, don't give him this book.
      tr
        td 2
        td Debbie
        td Kennedy Brocato
        td 47285940392817
        td Sesame Street Alphabet
        td John Smith
        td Book
        td 05/18/1988
        td 3/1/2020
        td Austin Public Library
        td 3/14/2020
        td 482013840293847
        td 593718394234231
        td 3/12/2020
        td Open
        td 52
        td 
      tr
        td 1
        td Bill
        td Mitchell Henson
        td 47285940392817
        td How to Lose a Guy in 10 Days
        td John Smith
        td Audio Book
        td 05/18/1988
        td 
        td Austin Public Library
        td 
        td 482013840293847
        td 593718394234231
        td 
        td Pending
        td 52
        td Mitch is a jerk, don't give him this book.
      tr
        td 2
        td Debbie
        td Kennedy Brocato
        td 47285940392817
        td Sesame Street Alphabet
        td John Smith
        td Book
        td 05/18/1988
        td 3/1/2020
        td Austin Public Library
        td 3/14/2020
        td 482013840293847
        td 593718394234231
        td 3/12/2020
        td Open
        td 52
        td 
      tr
        td 1
        td Bill
        td Mitchell Henson
        td 47285940392817
        td How to Lose a Guy in 10 Days
        td John Smith
        td Audio Book
        td 05/18/1988
        td 
        td Austin Public Library
        td 
        td 482013840293847
        td 593718394234231
        td 
        td Pending
        td 52
        td Mitch is a jerk, don't give him this book.
      tr
        td 2
        td Debbie
        td Kennedy Brocato
        td 47285940392817
        td Sesame Street Alphabet
        td John Smith
        td Book
        td 05/18/1988
        td 3/1/2020
        td Austin Public Library
        td 3/14/2020
        td 482013840293847
        td 593718394234231
        td 3/12/2020
        td Open
        td 52
        td 
      tr
        td 1
        td Bill
        td Mitchell Henson
        td 47285940392817
        td How to Lose a Guy in 10 Days
        td John Smith
        td Audio Book
        td 05/18/1988
        td 
        td Austin Public Library
        td 
        td 482013840293847
        td 593718394234231
        td 
        td Pending
        td 52
        td Mitch is a jerk, don't give him this book.
      tr
        td 2
        td Debbie
        td Kennedy Brocato
        td 47285940392817
        td Sesame Street Alphabet
        td John Smith
        td Book
        td 05/18/1988
        td 3/1/2020
        td Austin Public Library
        td 3/14/2020
        td 482013840293847
        td 593718394234231
        td 3/12/2020
        td Open
        td 52
        td 