nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Core
        
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Dashboard
                
            .sb-sidenav-menu-heading
                | Loans

            a.nav-link(href='interlibrary-loans.html')
                .sb-nav-link-icon
                    i.fas.fa-columns
                | Interlibrary Loans
            a.nav-link(href='consortium-loans.html')
                .sb-nav-link-icon
                    i.fas.fa-columns
                | Consortium Loans
                            
            .sb-sidenav-menu-heading
                | Reports
            
            a.nav-link(href='charts.html')
                .sb-nav-link-icon
                    i.fas.fa-chart-area
                | Interlibrary Loans
                
            a.nav-link(href='tables.html')
                .sb-nav-link-icon
                    i.fas.fa-table
                | Consotium Loans
                        
    .sb-sidenav-footer
        
        .small Logged in as:
        | Library Staff
